h4 {
  margin-bottom: 20px;
}

ul {
  width: 100%;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

li {
  margin: 0 0 15px;
}
.rejected {
  color: #e74c3c;
}

.discount {
  color: #27ae60;
}

.status-container {
  min-height: 90px;

  h5 {
    margin-top: 0;
  }
}